body {
  background-color: #fff;
  color: #000;

  h1 {
    font-family: Georgia;
  }

  p {
    font-family: montserrat;
  }
}

.heading {
  position: relative;
  font-size: 36px;
  font-family: Trocchi;
  color: #000;
  text-align: left;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}




/* Add custom styles here */

.navbar {
  background-color: rgba(0, 0, 0, 0.9);
  transition: background-color 0.3s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  opacity: 1;
}

.navbar.low-opacity {
  opacity: 0.8;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item .nav-link.active {
  font-weight: bold;
}

/* Additional styles for the color palette */

.navbar-dark .navbar-toggler {
  border-color: #fff;
}

.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:active {
  color: #ccc;
}

/*home*/
/* Add custom styles here */

.homecontainer {
  padding-top: 100px;
  position: relative;
}

.bg-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.black-opacity {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.p {
  margin: 0;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  font-family: Inter;
  color: #fff;
  text-align: center;
  padding: 20px;
  padding-top: 60px;
}

.im {
  color: #fff;
}

.span {
  color: #000;
}

.im-bhuvanesh {}

.h2 {
  position: relative;
  font-size: 48px;
  font-weight: 700;
  font-family: Inter;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color: #0017e5;
  padding-left: 20px;
}

.h4 {
  margin: 0;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  font-family: Inter;
  color: #fff;
  text-align: center;
  padding-left: 20px;
}

.profile-image-icon {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: 514px;
  object-fit: cover;
}

.profile-image {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  margin-top: 20px;
}

.profile-frame {
  height: 300px;
  width: 300px;
  border: 5px solid #000;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.profile-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 767px) {
  .homecontainer {
    padding-top: 50px;
  }

  .profile-image {
    margin-top: 20px;
  }
}


/*ABOUT ME*/
/* Add custom styles here */

.aboutcontainer {
  padding-top: 100px;
  background-image: url('');
    background-size: cover; /* Adjust as needed */
    background-position: center center; /* Adjust as needed */
    background-repeat: no-repeat;
    width : 100%;
    height : 500px;
}

.about-text {
  font-size: 18px;
  line-height: 1.5;
  padding: 20px;
  text-align: justify;
}

.carousel-inner {
  background-color: #ffffff;
  padding: 20px;

}

.carousel-item img {
  height: 350px;
  object-fit: contain;
  padding: 10px;
}

@media (max-width: 992px) {
  .aboutcontainer {
    height: auto; /* Remove fixed height for smaller screens */
  }
  .col-lg-6 {
    flex: 1; /* Make both columns occupy full width on smaller screens */
  }
  .carousel-inner {
    width: 100%; /* Ensure the carousel images take full width on smaller screens */
  }
  .carousel-item img {
    width: 100%; /* Make carousel images responsive */
  }
}

/*PROJECTS*/
.projects {
  background-image: url('path/to/background-image.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* Add any additional styles you want for the projects container here */
  padding: 50px 0;
}

.heading {
  text-align: center;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Adjust as needed for spacing between project cards */
  margin: 0 auto;
  max-width: 1200px; /* Adjust the max-width to your preference */
}

.project-card {
  width: 48%; /* Adjust as needed to control the width of each project card */
  margin-bottom: 20px; /* Adjust as needed for spacing between project cards */
  /* Add any additional styles you want for each project card here */
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
  transform: translateY(30px);
}

.project-card.appear {
  opacity: 1;
  transform: translateY(0);
}

img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .projects-container {
    flex-direction: column; /* Stack project cards vertically on smaller screens */
    align-items: center; /* Center the project cards on smaller screens */
  }

  .project-card {
    width: 100%; /* Make project cards occupy full width on smaller screens */
  }
}

/*FOOTER*/
/* Add custom styles here */

.footer {
  background-color: #000;
  color: #fff;
  padding: 60px 0;
}

.footer .map {
  height: 300px;
  /* Add map styles */
}

#map {
  height: 300px;
  width: 100%;
  /* Add this rule to ensure the map container takes up the full width */
}

.footer-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.social-media {
  margin-top: 30px;
}

.social-link {
  font-size: 24px;
  color: #fff;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .footer .map {
    height: 200px;
  }

  .footer-title {
    font-size: 20px;
  }

  .footer-text {
    font-size: 16px;
  }

  .social-link {
    font-size: 20px;
  }
}

/*PORTFOLIO (PROJECTS)*/
/* Add custom styles here */

.projects-container {
  display: flex;
  overflow-x: auto;
  padding: 20px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
  -ms-overflow-style: none;
  /* Hide scrollbar for IE and Edge */
}

.projects-container::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}

.project-card {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  padding: 20px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  animation: floating 2s infinite alternate ease-in-out;
  cursor: pointer;
}

.project-card:nth-child(even) {
  animation-direction: reverse;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.project-card .project-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.project-card .description {
  font-size: 14px;
}

/* Animation */
@keyframes floating {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .projects-container {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .project-card {
    margin-right: 10px;
  }
}


/*SERVICES*/

.vg{
  text-align: center;
  margin-bottom: 20px;
  font-size: 70px;
  color: white;
}

.container {
  position: relative;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100% ;
  width: 100% ;
  border-radius: 20px;
}

.services {
  padding: 50px 0;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  flex-basis: calc(33.33% - 20px);
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
  margin: 10px;
  opacity: 0;
  transform: translateY(20px);
  animation: spawn-in 0.5s ease-in-out forwards;
}
@keyframes spawn-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes vanish-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card i {
  font-size: 48px;
  color: #000;
  margin-bottom: 10px;
}

.service-card h3 {
  font-size: 18px;
  font-weight: bold;
}

/* Media Queries */
@media (max-width: 1200px) {
  .services-container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .service-card {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .service-card {
    flex-basis: calc(100% - 20px);
  }
}


/*TESTIMONIALS*/

/*RESUME*/

/*SKILLS*/
/* Add custom styles here */

canvas {
  position: absolute;
  top: 0;
  width:100%;
  left: 0;
  z-index: -1;
  pointer-events: none;
}


.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  
}

.skill-card {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.skill-card i {
  font-size: 48px;
  color: #000;
  margin-bottom: 10px;
}

.skill-card h4 {
  font-size: 18px;
  font-weight: bold;
  
}

/* Hover Effects */
.skill-card:hover {
  transform: translateY(-10px);
  opacity: 0.8;
}

.skill-card:nth-child(odd) {
  transform-origin: left center;
}

.skill-card:nth-child(even) {
  transform-origin: right center;
}

/* Slide Effect */
.skill-card:nth-child(odd):hover {
  transform: translateX(-10px);
}

.skill-card:nth-child(even):hover {
  transform: translateX(10px);
}

@media (max-width: 768px) {
  .skill-card {
    margin-bottom: 20px;
  }

  .skill-card i {
    font-size: 36px;
  }

  .skill-card h4 {
    font-size: 16px;
  }
}

/*CONTACT*/

/*BLOG*/

/*CLIENTS/COLLABORATORS*/

/*AWARDS*/

/*FAQ*/
